body {
  background-color: black;
  color: white;
}

#snake-game {
  display: inline-block;
  position: relative;
}

#snake-game #message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  min-width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px;
  text-align: center;
  display: none;
}

#snake-game #message.show {
  display: block;
}
